.login-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  margin-top: -40px
}

.Sp-logo {
  width: 12rem; /* 192px */
  max-width: 80%;
  height: auto;
  object-fit: contain;
  margin-bottom: 1.5rem;
}

