.login-container {
   outline-style: solid;
   width: 459px;
   height: 504px;
   margin: 10px 0px 0px 84px;
   border-radius: 8px;
}

.Sp-logo {
    height: 48px;
    width: 194px;
    object-fit: contain;
}

